# Investigation of Saudi Arabia COVID-19 Cases (Oct 2019 - Oct 2021)

Recently, there has been a huge interest in pandemic COVID-19 studies due that led to major global disruptions. In this investigation I will focus on Saudi Arabia COVID-19 Cases. 
 
## 1. Data Collection 
##### - Questions
- Are the different seasons and events (Summer, Winter, holidays, Eids...) affect the number of COVID-19 cases?
- Do the numbers of COVID-19 cases differ between big/main cities and small cities?
- What is the expected date of reaching zero cases?
- Is the COVID-19 cases indicators expected to rise again after returning back to school ( at 31 Oct 2021)?

##### - Type of Data
Time series data that obtained from The King Abdullah Petroleum Studies and Research Center in CSV format. The dataset include a sequence of data points (COVID-19 cases) indexed in time order from 1 Oct 2019 to 1 Oct 2021. It consists of 428346 rowØŒ related to 207 cities in Saudi Arabia. Additionally, it include fetures such:

- Number of Cases (Daily / Cumulative)
- Case Indicators (Active, Mortalities, Critical ...)
- Number of Cases
- Date 7 Day
- Events
- City & Region

##### - Sources
- https://datasource.kapsarc.org/explore/dataset/saudi-arabia-coronavirus-disease-covid-19-situation/export/?disjunctive.daily_cumulative&disjunctive.indicator&disjunctive.event&disjunctive.city_en&disjunctive.region_en

- https://covid19.moh.gov.sa/

## 2.  Data Preparation

This section shows:
- Exploratory Data Analysis (EDA)
- Data Pre-processing
- Data Splitting
- Features Correaltions

### a. Exploratory Data Analysis (EDA)

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
#Reading data
dataset = "dataset_covied19.csv"
df = pd.read_csv(dataset, error_bad_lines=False, sep=';')

In [3]:
df.head()

,Daily / Cumulative,Indicator,Date,Event,City,Region,Cases (person)
0,Cumulative,Cases,2020-11-05,NaN,Al Khubar,Eastern Region,7265
1,Cumulative,Cases,2020-11-05,NaN,Jeddah,Makkah Al Mukarramah,33808
2,Cumulative,Cases,2020-11-05,NaN,Ar Riyad,Ar Riyad,57841
3,Cumulative,Cases,2020-11-05,NaN,Ad Duwadimi,Ar Riyad,464
4,Cumulative,Cases,2020-10-28,NaN,Rabigh,Makkah Al Mukarramah,272

In [4]:
df.shape

(428346, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428346 entries, 0 to 428345
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Daily / Cumulative  428346 non-null  object
 1   Indicator           428346 non-null  object
 2   Date                428346 non-null  object
 3   Event               1900 non-null    object
 4   City                428346 non-null  object
 5   Region              428346 non-null  object
 6   Cases (person)      428346 non-null  int64
dtypes: int64(1), object(6)
memory usage: 22.9+ MB

In [8]:

print('Tha dataset consists information about', df.City.nunique()-1, 'cities  arround Saudi Arabia for ', df.Region.nunique()-1, 'regions.')

Tha dataset consists information about 206 cities  arround Saudi Arabia for  13 regions.

In [9]:
df.Region.value_counts()

Ar Riyad                    70517
Eastern Region              60172
Makkah Al Mukarramah        54090
Aseer                       51448
Jazan                       39088
Al Qaseem                   31495
Al Madinah Al Munawwarah    22057
Al Bahah                    17973
Hail                        17157
Tabuk                       17153
Al Jawf                     14882
Najran                      14319
Northern Borders            12340
Total                        5655
Name: Region, dtype: int64

In [10]:
df.Indicator.value_counts()

Cases          145405
Recoveries     140960
Active          94333
Mortalities     45972
Tested           1158
Critical          518
Name: Indicator, dtype: int64

In [11]:
df.Event.value_counts()

Curfew lifted(all regions)                                                        939
Partial lifting of curfew in all cities except Makkah                             179
Jeddah areas lockdown - 24 h curfew                                               173
Makkah lockdown                                                                   136
Riyadh, Dammam , Tabuk , Dahran, Hafuf, Jeddah, Taif, Qatif , Khobar24h curfew    115
Jeddah lockdown                                                                    80
Makkah , Madinah 24 hours curfew                                                   79
Riyadh, Makkah and Madinah lockdown - curfew (6am - 3pm)                           70
Domestic flights suspension                                                        40
Gov / private suspension                                                           31
International flights suspension for 14 days                                       27
Umrah suspension                                                                   12
flights suspended to number of countries                                           11
First case of COVID-19                                                              8
Name: Event, dtype: int64

In [12]:
df['Daily / Cumulative'].value_counts()

Cumulative    333140
Daily          95206
Name: Daily / Cumulative, dtype: int64

Feature variable (input): Indicator, Date, City, Region   
Target variable (Output): Cases

### b. Data Pre-processing

In [13]:
#(1) Conevrt 'Data' type
df['Date'] = pd.to_datetime(df['Date'])

In [14]:
#(2) Filling the NaN values in 'Event'
df1 = df.fillna({'Event':'No event'})
df1

,Daily / Cumulative,Indicator,Date,Event,City,Region,Cases (person)
0,Cumulative,Cases,2020-11-05,No event,Al Khubar,Eastern Region,7265
1,Cumulative,Cases,2020-11-05,No event,Jeddah,Makkah Al Mukarramah,33808
2,Cumulative,Cases,2020-11-05,No event,Ar Riyad,Ar Riyad,57841
3,Cumulative,Cases,2020-11-05,No event,Ad Duwadimi,Ar Riyad,464
4,Cumulative,Cases,2020-10-28,No event,Rabigh,Makkah Al Mukarramah,272
...,...,...,...,...,...,...,...
428341,Cumulative,Active,2021-07-01,No event,Al Lith,Makkah Al Mukarramah,132
428342,Cumulative,Active,2021-07-01,No event,Badr,Al Madinah Al Munawwarah,76
428343,Cumulative,Active,2021-06-30,No event,Haql,Tabuk,7
428344,Cumulative,Active,2021-07-01,No event,Tabarjal,Al Jawf,8
428345,Cumulative,Active,2021-06-27,No event,BaqÊ»AÊ¼,Hail,4

In [15]:
#(3) Add 'Day' column
df1['Day'] = df1['Date'].dt.day_name() 
df1

,Daily / Cumulative,Indicator,Date,Event,City,Region,Cases (person),Day
0,Cumulative,Cases,2020-11-05,No event,Al Khubar,Eastern Region,7265,Thursday
1,Cumulative,Cases,2020-11-05,No event,Jeddah,Makkah Al Mukarramah,33808,Thursday
2,Cumulative,Cases,2020-11-05,No event,Ar Riyad,Ar Riyad,57841,Thursday
3,Cumulative,Cases,2020-11-05,No event,Ad Duwadimi,Ar Riyad,464,Thursday
4,Cumulative,Cases,2020-10-28,No event,Rabigh,Makkah Al Mukarramah,272,Wednesday
...,...,...,...,...,...,...,...,...
428341,Cumulative,Active,2021-07-01,No event,Al Lith,Makkah Al Mukarramah,132,Thursday
428342,Cumulative,Active,2021-07-01,No event,Badr,Al Madinah Al Munawwarah,76,Thursday
428343,Cumulative,Active,2021-06-30,No event,Haql,Tabuk,7,Wednesday
428344,Cumulative,Active,2021-07-01,No event,Tabarjal,Al Jawf,8,Thursday
428345,Cumulative,Active,2021-06-27,No event,BaqÊ»AÊ¼,Hail,4,Sunday

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428346 entries, 0 to 428345
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Daily / Cumulative  428346 non-null  object
 1   Indicator           428346 non-null  object
 2   Date                428346 non-null  datetime64[ns]
 3   Event               428346 non-null  object
 4   City                428346 non-null  object
 5   Region              428346 non-null  object
 6   Cases (person)      428346 non-null  int64
 7   Day                 428346 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 26.1+ MB

In [17]:
#(4)Rearrange Features
df1 = df1.rename(columns = {'Cases (person)':'Cases'}, inplace = False)
df1 = df1 [["Date","Day","Cases","City","Region","Indicator","Event","Daily / Cumulative"]]
df1

,Date,Day,Cases,City,Region,Indicator,Event,Daily / Cumulative
0,2020-11-05,Thursday,7265,Al Khubar,Eastern Region,Cases,No event,Cumulative
1,2020-11-05,Thursday,33808,Jeddah,Makkah Al Mukarramah,Cases,No event,Cumulative
2,2020-11-05,Thursday,57841,Ar Riyad,Ar Riyad,Cases,No event,Cumulative
3,2020-11-05,Thursday,464,Ad Duwadimi,Ar Riyad,Cases,No event,Cumulative
4,2020-10-28,Wednesday,272,Rabigh,Makkah Al Mukarramah,Cases,No event,Cumulative
...,...,...,...,...,...,...,...,...
428341,2021-07-01,Thursday,132,Al Lith,Makkah Al Mukarramah,Active,No event,Cumulative
428342,2021-07-01,Thursday,76,Badr,Al Madinah Al Munawwarah,Active,No event,Cumulative
428343,2021-06-30,Wednesday,7,Haql,Tabuk,Active,No event,Cumulative
428344,2021-07-01,Thursday,8,Tabarjal,Al Jawf,Active,No event,Cumulative
428345,2021-06-27,Sunday,4,BaqÊ»AÊ¼,Hail,Active,No event,Cumulative

In [18]:
#(5) Extrat the 'Daily / Cumulative' cases
Daily_df = df1.loc[df1['Daily / Cumulative'] == 'Daily']
Cumulative_df = df1.loc[df1['Daily / Cumulative'] == 'Cumulative']

In [19]:
Daily_df.drop(Daily_df.columns[[7]], axis = 1) # drop un-needed column

,Date,Day,Cases,City,Region,Indicator,Event
4053,2021-07-31,Saturday,2,Ê»UrayÊ»Irah,Eastern Region,Cases,No event
4054,2021-07-31,Saturday,4,Ê»Uqlat As Suqur,Al Qaseem,Cases,No event
4055,2021-07-31,Saturday,28,Makkah Al Mukarramah,Makkah Al Mukarramah,Cases,No event
4056,2021-07-31,Saturday,29,Najran,Najran,Cases,No event
4057,2021-07-31,Saturday,3,Hubuna,Najran,Cases,No event
...,...,...,...,...,...,...,...
423322,2021-05-15,Saturday,1,Al Madinah Al Munawwarah,Al Madinah Al Munawwarah,Mortalities,No event
423323,2021-05-16,Sunday,1,Khamis Mushayt,Aseer,Mortalities,No event
423324,2021-05-16,Sunday,1,Jeddah,Makkah Al Mukarramah,Mortalities,No event
423325,2021-05-16,Sunday,1,Al Qunfudhah,Makkah Al Mukarramah,Mortalities,No event
423326,2021-05-17,Monday,1,Jazan,Jazan,Mortalities,No event

### c. Features Correlations

In [41]:
test_df = Daily_df.sample(n = 20)
test_df

,Date,Day,Cases,City,Region,Indicator,Event,Daily / Cumulative
146043,2021-05-12,Wednesday,14,At TaÊ¼If,Makkah Al Mukarramah,Recoveries,No event,Daily
356222,2020-07-26,Sunday,12,Sharurah,Najran,Recoveries,No event,Daily
365881,2021-09-30,Thursday,1,Makkah Al Mukarramah,Makkah Al Mukarramah,Mortalities,No event,Daily
349845,2020-05-25,Monday,1,Duba,Tabuk,Cases,No event,Daily
13936,2021-04-17,Saturday,11,Al Khubar,Eastern Region,Cases,No event,Daily
136655,2021-05-04,Tuesday,1,HaÊ¼Il,Hail,Mortalities,No event,Daily
324538,2021-04-12,Monday,2,Al Bijadiyyah,Ar Riyad,Cases,No event,Daily
15329,2020-09-23,Wednesday,53,Jeddah,Makkah Al Mukarramah,Cases,No event,Daily
152214,2020-09-01,Tuesday,1,Hubuna,Najran,Recoveries,No event,Daily
280472,2021-03-04,Thursday,2,An NuÊ»Ayriyyah,Eastern Region,Recoveries,No event,Daily
213689,2020-11-06,Friday,1,Bani Hasan,Al Bahah,Recoveries,No event,Daily
86913,2021-03-05,Friday,2,Al Quwarah,Al Qaseem,Cases,No event,Daily
229852,2021-05-24,Monday,1,Tathlith,Aseer,Cases,No event,Daily
19456,2020-05-15,Friday,1,Duruma,Ar Riyad,Cases,No event,Daily
320020,2021-03-05,Friday,382,Total,Total,Cases,No event,Daily
353253,2021-05-05,Wednesday,1,Al Qurayyat,Al Jawf,Recoveries,No event,Daily
14480,2020-08-14,Friday,6,AdÍŸH DÍŸHahran,Eastern Region,Cases,No event,Daily
231147,2021-07-21,Wednesday,31,Al Hufuf,Eastern Region,Cases,No event,Daily
415982,2021-02-28,Sunday,1,Ash Shamli,Hail,Recoveries,No event,Daily
214949,2021-02-18,Thursday,1,Badr,Al Madinah Al Munawwarah,Recoveries,No event,Daily

In [ ]:
# corellation in all features 
# total cases per regions
# total cases per city
# dates - cases
# Daily / Cumulative - cases

In [ ]:
#normlization 
#Feature Selection
#Dealing with imbalance data

### d. Data Splitting

- Training set
- Validation set
- Testing set

## 3. Train Model on Data

- Algorithm
- Type of Learning
- Overfitting / underfitting
- HypreParameter

## 4. Analysis and Evaluation

- Evaluation Metrics

## 5. Conclusion